:root {
    --azul-escuro: #002074;
    --azul-escuro2: #042e99;
    --azul-escuro3: #0534ac;
    --azul-intermediario: rgb(18, 18, 233);
    --azul-claro: rgb(39, 39, 243);
    --cor-texto: rgb(75, 73, 73);
    --cinza: rgb(235, 231, 231);
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--azul-escuro2), var(--azul-escuro3));
    overflow-y: hidden;
    overflow-x: hidden;
}

.container-form {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 35px var(--azul-escuro);
    border: 1px solid var(--azul-escuro);
    background-color: #fff;
}

.container-form h1 {
    font-size: 2.5em;
    color: var(--azul-escuro);
    text-align: center;
}

.container-form form {
    align-items: flex-start;
}

.container-form form .form-item {
    align-items: flex-start;
}

.container-form form label {
    color: var(--azul-escuro);
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.container-form form input:not(input[type=submit]){
    height: 50px;
    border-radius: 10px;
    border: 1px solid silver;
    padding-left: 10px;
    color: var(--cor-texto);
    outline: none;
}

.container-form form a {
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 16px;
}
.container-form form a:hover {
    text-decoration: underline;
    color: var(--azul-intermediario);
}

.container-form form input[type=submit]{
    width: 30%;
    height: 50px;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: bolder;
    border: 2px solid var(--azul-escuro);
    border-radius: 10px;
    color: var(--azul-escuro);
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;
}

.container-form form input[type=submit]:hover {
    background-color: var(--azul-escuro);
    color: #fff;
}


.caixa {
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    background-color: var(--azul-escuro3);
    box-shadow: 0 0 30px var(--azul-escuro);
    border-radius: 180px 90px 200px 90px;
    top: 20px;
    left: 80px;
    animation: mover infinite 20s ease;
}

.caixa2 {
    position: absolute;
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: 400px;
    background-color: var(--azul-escuro);
    box-shadow: 0 0 30px var(--azul-escuro);
    border-radius: 120px 210px 190px 120px;
    top: 20%;
    right: 2%;
    animation: mover2 infinite 20s ease;
}

.caixa3 {
    position: absolute;
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 550px;
    background-color: var(--azul-escuro2);
    box-shadow: 0 0 30px var(--azul-escuro);
    border-radius: 400px 100px 900px 200px;
    top: 10%;
    left: 40%;
    animation: mover3 infinite 20s ease;
}

@keyframes mover {
    0%, 100% {
        top: 10%;
        transform: rotate(180deg);
    }

    20% {
        top: 15%;
        left: 20%;
        transform: rotate(10deg);
    }

    40% {
        top: 5%;
        left: 40%;
        transform: rotate(-20deg);
    }

    60% {
        top: 30%;
        left: 15%;
        transform: rotate(30deg);
    }

    80% {
        top: 20%;
        left: 60%;
        transform: rotate(-45deg);
    }
}

@keyframes mover2 {
    0%, 100% {
        top: 20%;
        right: 2%;
    }

    20% {
        top: 45%;
        right: 20%;
        transform: rotate(45deg);
    }

    40% {
        top: 5%;
        right: 65%;
        transform: rotate(-90deg);
    }

    60% {
        top: 60%;
        right: 80%;
        transform: rotate(10deg);
    }

    80% {
        top: 20%;
        right: 55%;
        transform: rotate(180deg);
    }
}

@keyframes mover3 {
    0%, 100% {
        top: 10%;
        left: 40%;
    }

    10% {
        top: 5%;
        left: 20%;
        transform: rotate(90deg);
    }

    20% {
        top: 15%;
        left: 25%;
        transform: rotate(-90deg);
    }

    20% {
        top: 25%;
        left: 50%;
        transform: rotate(50deg);
    }

    30% {
        top: 5%;
        left: 30%;
        transform: rotate(180deg);
    }

    40% {
        top: 15%;
        left: 80%;
        transform: rotate(-60deg);
    }

    50% {
        top: 40%;
        left: 90%;
        transform: rotate(-45deg);
    }

    60% {
        top: 2%;
        left: 40%;
        transform: rotate(5deg);
    }

    70% {
        top: 45%;
        left: 25%;
        transform: rotate(80deg);
    }

    80% {
        top: 35%;
        left: 10%;
        transform: rotate(10deg);
    }

    90% {
        top: 20%;
        left: 20%;
        transform: rotate(180deg);
    }
}