:root {
    --azul-escuro: #002074;
    --azul-escuro2: #042e99;
    --azul-escuro3: #0534ac;
    --azul-intermediario: rgb(18, 18, 233);
    --azul-claro: rgb(39, 39, 243);
    --cor-texto: rgb(75, 73, 73);
    --cinza: rgb(235, 231, 231);
}

.sobre-content {
    background-color: white;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 0 0 50px silver;
    padding: 20px;
    margin: 60px auto;
}

.sobre-content h1 {
    color: var(--azul-escuro);
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 30px;
}

.sobre-content p {
    color: var(--cor-texto);
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: justify;
}

.sobre-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    border: 2px solid var(--azul-escuro);
    border-radius: 6px;
    color: var(--azul-escuro);
    margin: 10px auto;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    transition: all .4s ease;
}

.sobre-content a:hover {
    background-color: var(--azul-escuro);
    color: white;
}